certifi==2025.7.14
cffi==1.17.1
cryptography==45.0.5
packaging==25.0
pip @ file:///usr/local/Cellar/python%403.13/3.13.2/Frameworks/Python.framework/Versions/3.13/lib/python3.13/ensurepip/_bundled/pip-25.0-py3-none-any.whl
pip==25.1.1
pybind11==3.0.0
pycparser==2.22
pyqt3d==5.15.7
pyqt5==5.15.11
pyqt5-sip==12.17.0
pyqtchart==5.15.7
pyqtdatavisualization==5.15.6
pyqtnetworkauth==5.15.6
pyqtpurchasing==5.15.6
pyqtwebengine==5.15.7
setuptools==80.9.0
wheel @ file:///usr/local/Cellar/python%403.13/3.13.2/libexec/wheel-0.45.1-py3-none-any.whl
